body
{
	margin: 0;
	padding: 0;
	background-size: cover;
	font-family: sans-serif;
	background: darkgray;
}
.loginBox
{
	margin: 100px auto;
	width: 350px;
	padding: 80px 40px;
	box-sizing: border-box;
	height: 420px;
	background: rgba(0,0,0,.6);
}
.user
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: calc(50% - 50px);

}
h2
{
	margin: 0;
	padding: 0 0 20px;
	color: #efed40;
	text-align: center;
}
.loginBox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.loginBox input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="Password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	height: 40px;
	background: transparent;
	color: #fff;
	font-size: 16px;
}
::placeholder
{
	color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #df9f10;
	cursor: pointer;
}
.loginBox input[type="submit"]:hover
{
	background: #e44333;
	color: #262626;
}
.loginBox a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.pwd:hover {
	color : #e44333;
}

.loginBox input[type="text"]
{
	margin-top: 20px;
}

a[href = "login.html"]
{
  display: inline;
}

a[href = "signup.html"]
{
  display: inline;
}